<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> List of cars</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope ="col">Model</th>
        <th scope="col">Series</th>
        <th scope="col">Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${carList}">
        <td th:text="${car.model}"/>
        <td th:text="${car.series}"/>
        <td th:text="${car.year}"/>

</tr>
    </tbody>
</table>
<a href="/cars?count=1">show 1 cars</a>
<a href="/cars?count=2">show 2 cars</a>
<a href="/cars?count=3">show 3 cars</a>
<a href="/cars?count=4">show 4 cars</a>
<a href="/cars?count=5">show 5 cars</a>
<a href="/cars?count=6">show all cars</a>

<form>
    <p>Enter count:</p>
    <p><input name="count" pattern="^[ 0-9]+$"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>